@font-face {
  font-family: 'whenigrowup';
  src:  url('/static/fonts/whenigrowup.eot?2btlnu');
  src:  url('/static/fonts/whenigrowup.eot?2btlnu#iefix') format('embedded-opentype'),
    url('/static/fonts/whenigrowup.ttf?2btlnu') format('truetype'),
    url('/static/fonts/whenigrowup.woff?2btlnu') format('woff'),
    url('/static/fonts/whenigrowup.svg?2btlnu#whenigrowup') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'whenigrowup' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron_up:before {
  content: "\e90b";
}
.icon-chevron_down:before {
  content: "\e90c";
}
.icon-info:before {
  content: "\e90a";
}
.icon-edit:before {
  content: "\e908";
}
.icon-trash:before {
  content: "\e909";
}
.icon-arrow_left:before {
  content: "\e907";
}
.icon-facebook_white:before {
  content: "\e904";
  color: #fafafa;
}
.icon-instagram_white:before {
  content: "\e905";
  color: #fafafa;
}
.icon-twitter_white:before {
  content: "\e906";
  color: #fafafa;
}
.icon-chevron_right:before {
  content: "\e902";
}
.icon-chevron_left:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e900";
}
.icon-account:before {
  content: "\e901";
}
