@font-face {
  font-family: 'whenigrowup';
  src:  url('/static/fonts/whenigrowup.eot?ru2221');
  src:  url('/static/fonts/whenigrowup.eot?ru2221#iefix') format('embedded-opentype'),
    url('/static/fonts/whenigrowup.ttf?ru2221') format('truetype'),
    url('/static/fonts/whenigrowup.woff?ru2221') format('woff'),
    url('/static/fonts/whenigrowup.svg?ru2221#whenigrowup') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'whenigrowup' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook_white:before {
  content: "\e904";
  color: #fafafa;
}
.icon-instagram_white:before {
  content: "\e905";
  color: #fafafa;
}
.icon-twitter_white:before {
  content: "\e906";
  color: #fafafa;
}
.icon-chevron_right:before {
  content: "\e902";
}
.icon-chevron_left:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e900";
}
.icon-account:before {
  content: "\e901";
}
