body {
  @apply font-poppins text-dark-grey;

  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  @apply bg-brand text-white;
}

.u-container {
  padding-left: 16px;
  padding-right: 16px;
  @screen md {
    @apply mx-auto w-11/12;

    padding-left: 0;
    padding-right: 0;
  }

  &__spread {
    @apply flex items-center justify-between;
  }

  &__page {
    padding-top: 24px;
    @screen md {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &--large {
      padding-top: 61px;
      padding-bottom: 61px;
    }
  }
  @screen lg {
    @apply w-9/12;
  }
}

.h-min-screen {
  @screen md {
    min-height: calc(100vh - 239px);
  }
}

/* icons */

.icon-gift::before {
  content: '\e99f';
}

.icon-ico_book::before {
  content: '\e914';
}

.icon-ico_premium_account::before {
  content: '\e915';
}

.icon-ico_verified::before {
  content: '\e916';
}

.icon-whatsapp::before {
  content: '\ea93';
}

.icon-duplicate::before {
  content: '\e913';
}

.icon-tag_label::before {
  content: '\e912';
}

.icon-ui_cross::before {
  content: '\e911';
}

.icon-eye-show::before {
  content: '\e90e';
  color: #484e5c;
}

.icon-eye_hide::before {
  content: '\e90f';
  color: #484e5c;
}

.icon-menu::before {
  content: '\e910';
}

.icon-cross_check::before {
  content: '\e90d';
}

.icon-chevron_up::before {
  content: '\e90b';
}

.icon-chevron_down::before {
  content: '\e90c';
}

.icon-info::before {
  content: '\e90a';
}

.icon-edit::before {
  content: '\e908';
}

.icon-trash::before {
  content: '\e909';
}

.icon-arrow_left::before {
  content: '\e907';
}

.icon-facebook_white::before {
  content: '\e904';
  color: #fafafa;
}

.icon-instagram_white::before {
  content: '\e905';
  color: #fafafa;
}

.icon-twitter_white::before {
  content: '\e906';
  color: #fafafa;
}

.icon-chevron_right::before {
  content: '\e902';
}

.icon-chevron_left::before {
  content: '\e903';
}

.icon-cart::before {
  content: '\e900';
}

.icon-account::before {
  content: '\e901';
}
